.task {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--gray-500);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-400);

  animation: fadeIn 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.task.done {
  border: none;
}

.task.done .left p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task:not(:last-child) {
  margin-bottom: 1.2rem;
}

.task .left {
  display: flex;
  align-items: flex-start;
  margin-right: 1.2rem;
}

.task .left label input[type="checkbox"] {
  opacity: 0;
}

.task .left label {
  position: relative;

  margin-right: 1.5rem;
}

.task .left label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7rem;
  width: 1.7rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--blue);
  transition: all 0.1s;
}

.task .left label .checkmark::after {
  content: "";
  position: absolute;
  left: 0.57rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.7rem;
  border: solid white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
  display: none;
}

.task .left label input[type="checkbox"]:hover ~ .checkmark {
  background-color: rgba(30, 111, 159, 0.3);
}

.task .left label input[type="checkbox"]:checked ~ .checkmark {
  background-color: var(--purple-dark);
  border: none;
}

.task .left label input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}

.task .left label input[type="checkbox"]:checked:hover ~ .checkmark {
  background-color: var(--purple);
}

.task .left p {
  color: var(--gray-100);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
}

.task .right .icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.1s;
  cursor: pointer;
}

.task .right .icon:hover {
  background-color: var(--gray-400);
}

.task .right .icon svg {
  color: var(--gray-300);
  transition: background-color 0.1s;
}

.task .right .icon:hover svg {
  color: var(--danger);
}

@keyframes fadeIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
